body {
}


.btn-tiny, .btn-group-tiny > .btn {
  padding: 0.15rem 0.5rem;
  font-size: 0.675rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.heading {
    background-color: lightslategray;
    color: white;
}